[Match]
Name={{ interface_wlan }}

[Network]
IPForward=ipv4
IPMasquerade=yes
LinkLocalAddressing=no
IPv6AcceptRA=no

[Address]
Address=192.168.177.1/24
